<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
  <title>Landing Page</title>

  <link href='http://fonts.googleapis.com/css?family=Duru+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">

        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
          <![endif]-->
          <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" type="text/css" rel="stylesheet">



          <style type="text/css">
            html,body {
              height:100%;
            }

            h1 {
              /*font-family: Arial,sans-serif*/
              font-family: 'Duru Sans', sans-serif;
              color:#000000;
            }

            .lead {
              /*color:#FFFFFF;*/
              font-family: 'Duru Sans', sans-serif;
              color: #000000;
            }


            /* Custom container */
            .container-full {
              margin: 0 auto;
              width: 100%;
              min-height:100%;
              background-color:#FF8800;
              color:#eee;
              overflow:hidden;
            }

            .container-full a {
              color:#efefef;
              text-decoration:none;
            }

            .v-center {
              margin-top:7%;
            }

          </style>
        </head>



        <body  >

          <div class="container-full">
            <div class="row">

              <div class="col-lg-12 text-center v-center">
                <img height="100px" src="https://github-camo.global.ssl.fastly.net/3ee132933d4ab4884392dd15c4fdb7e894f51bb5/687474703a2f2f756e6765706972617465722e6e6f2f696d672f4c6f676f5f756e675049525f66756c6c46617267652e737667">
                <h1>Velkommen til</h1>
                <p class="lead">
                  Unge Piraters 2. Ordinære landsmøte!            
                </p>

                <!--<br />-->

                <form class="col-lg-12">         
                  <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
                    <input id="form-email-input" class="form-control input-lg" title="Vi hater spam og vill ikke dele eposten din med noen." placeholder="Fyll inn din epost" type="text" autofocus>
                    <span class="input-group-btn"><button class="btn btn-lg btn-warning" type="button">OK</button></span>
                  </div>
                </form>
                <br />
                <div class="well well-sm" style="width:340px;text-align:center;margin:0 auto;color:#000000;">
                  <p>
                    Alle medlemmer har fått en invite på epost, andre gjester kan følge med på livestreamen og resultatet ved å oppgi epostadressen sin over.
                    <b>Gjester har ikke mulighet til å stemme.</b>
                  </p>
                </div>   
              </div>

            </div> <!-- /row -->

            <div class="row">

              <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
                <a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a>  <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-github"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
              </div>

            </div>

          </div>



          <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


          <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>


          <script type='text/javascript'>

            $(document).ready(function() {

            });

          </script>

        </body>
        </html>